<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<!------ Include the above in your HEAD tag ---------->

<body>
    <div id="throbber" style="display:none; min-height:120px;"></div>
    <div id="noty-holder"></div>
    <% include ../admin %>

    <div id="wrapper">

        <div id="page-wrapper">
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row" id="main">
                    <div class="col-sm-12 col-md-12 well" id="content">
                        <p id="user-12" data-user="<%= userListData %>"></p>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div><!-- /#wrapper -->

</body>
<% include ../partials/script %>
<script>
  // let x = document;
  // console.log(x[key]);
   // let x = document.getElementById("user-12");
   // console.log(x.dataset.ngdata);
   let x = <%-JSON.stringify(userListData) %>;
   console.log(x);
   // for(let key in x)
   // console.log(x[key]);
   //console.log(JSON.parse(userData));
  //  for(var property in userData) {
  //   alert(property + "=" + userData[property]);
  // }
   //console.log(userData);
   // var userContent = userData[Object.keys(userData)[0]];
   // console.log(userContent);
   // //var parseData = JSON.parse(userData);
   // var car = {type:"Fiat", model:"500", color:"white"};
   // console.log(car);
  // // let y = JSON.parse(`${x.dataset.ngdata}`);
  //  console.log(x.dataset.ngdata);
  //  var userData = x.dataset.ngdata;
  // var userContent = userData[Object.keys(userData)[0]];
  // console.log(userContent);

</script>

</html>
