.bg-3 { 
    background-color: #ffffff;
    color: #555555;
}
.container {
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav li:hover {
    display:block;
    min-width: 40px;
    min-height: 20px;
    border-radius: 20px;
    background: rgb(76, 159, 228);
}
.navbar-nav  li a:hover {
    color: #8decd9 !important;
    font-size: 17px;
    
}

.navbar-nav li a {
    font-size: 15px;
    font-weight: bold;
}
.active>a {
  color: #1abc9c !important;;
 
}

.smart-home-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 20px 0;
    text-align: left;
    width: 100%;
    min-height: 400px;
    background: #f7f7f7;
}

.smart-home-item .device-title {
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;
    padding: 20px;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    background: lightblue;
}

.smart-home-item .device-info {
    padding: 10px;
    font-size: 14px;
}

.finger-user-item .finger-info {
    min-height: 253px;
}

.action-item .btn {
    text-transform: uppercase;
}

.specific {
    font-size: 24px;
    font-weight: bold;
}

.action-item .show-list-finger-user {
    padding: 14px;
}

.finger-user-item .action-item .btn {
    padding: 14px;
    min-width: 120px;
}

.home-btn {
    padding: 14px;
}
/************************************************
\************************************************\
    Button Login, logout in MENU 24/10/2019
\************************************************\
*************************************************/
.container .butLog {
    float: right;
    outline: 0;
    border: 0;
    /*background: blue;*/
    margin-top: 0;
    color: green;
}
.container .butLog button {
    display: inline-block;
    min-width: 30px;
    min-height: 20px;
    padding: .8vw .8vw;
    font-size: 18px;
    font-weight: bold;
    background: transparent;
    border: 0;
    outline: 0;
    border-radius: 2vw;
    font-family: octicons;
}
.container .butLog button:hover {
    
    color: blue;
}
/************************************************
\************************************************\
    Button camera
\************************************************\
*************************************************/
#btn-camera {
    box-sizing: border-box;
    max-width: 11vw;
    height: auto;
    margin: auto;
    margin-top: 10px;
    padding: 15px 15px;
    background: #5BC0DE;
    border-radius: 20px ;
    
}
#btn-camera a {
    display: block;
    max-width: 100%;
    text-decoration: none;
    font: 18px bold ;
    color: #ffffff;
}
#btn-camera:hover {
    background: rgb(76, 159, 228);
}
/************************************************
\************************************************\
    Set LAMP phan tram
\************************************************\
*************************************************/
.chel1chel2 {
    display: inline-block;
}
#che1, #che2, #che3, #che4
{   
    margin: 0 10px;
    display: inline-block;
    background: lightblue;
    padding: 10px 0;
    text-align: center;
    width: 70px;
    border-radius: 20px; 
}
@media screen and (max-width:500px) {
    #btn-camera {
        max-width: 50%;
    }
    .chel1chel2
    {
        display: block;
        margin: 10px 0; 
    }
}