.bg-3 {
    background-color: #ffffff;
    color: #555555;
}
.container {
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}
.active>a {
  color: #1abc9c !important;;
}

.smart-home-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 20px 0;
    text-align: left;
    width: 100%;
    min-height: 368px;
}

.smart-home-item .device-title {
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;
    padding: 20px;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

.smart-home-item .device-info {
    padding: 10px;
    font-size: 14px;
    min-height: 248px; //added by Dan

}

.finger-user-item .finger-info {
    min-height: 253px;
}

.action-item .btn {
    text-transform: uppercase;
}

.specific {
    font-size: 24px;
    font-weight: bold;
}

.action-item .show-list-finger-user {
    padding: 14px;
}

.finger-user-item .action-item .btn {
    padding: 14px;
    min-width: 120px;

}

.home-btn {
    padding: 14px;
}
