<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>
<div class="container-fluid bg-3 text-center">    
  <h3><%= page %></h3><br>
  <div class="row">
    <div class="col-sm-12">
      <div class="text-center">
          <a href="/smart-homes" class="btn btn-info home-btn">Go To Smart Home Page</a>
      </div>
    </div>
  </div>
</div>
</body>
<% include partials/script %>
</html>